/* Color variables */
$blue: #434af9;
$blueLight: #d6d7f9;
$yellow: #fba322;
$dark: #191a35;
$darkLight: #6e6e7e;
$white: #fcfcfe;
$greyWhite: #f5f6fb;
$red: #ff3333;
$gradient: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));

/* Font Family Variables */
$openSans: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;

/* Pixels width for devices */
$tablet: 600px;
$desktop: 1200px;

/* User Account Bar height */
$userAccountBarH: 70px;
