@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";

.loginRegisterButton {
  background-color: $white;
  border: none;
  width: 100%;
  margin-top: 60px;
  padding: 10px;
  background-color: $blue;
  color: $white;
  border-radius: 10px;
  font-family: $poppins;
  cursor: pointer;

  div {
    margin: auto;
    height: 20px;
    width: 50px;
  }

  @include MediaQuery($desktop) {
    margin-top: 22px;
    padding: 8px;
  }

  &:hover {
    background-color: darken($blue, 12);
  }
}

.loading {
  @include buttonLoading;
}
